html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Inter, sans-serif;
    font-size: 15px;
}

.page_wrapper {
    padding: 2em 1em;
}

img {
    max-width: 100%;
}