
/* inter-regular */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: regular;
    src: url('//lib.baomitu.com/fonts/inter/inter-regular.eot'); /* IE9 Compat Modes */
    src: local('Inter'), local('Inter-Normal'),
         url('//lib.baomitu.com/fonts/inter/inter-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/inter/inter-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-regular.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/inter/inter-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
    
  /* inter-700 */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('//lib.baomitu.com/fonts/inter/inter-700.eot'); /* IE9 Compat Modes */
    src: local('Inter'), local('Inter-Normal'),
         url('//lib.baomitu.com/fonts/inter/inter-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/inter/inter-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-700.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/inter/inter-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
    
  /* inter-800 */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('//lib.baomitu.com/fonts/inter/inter-800.eot'); /* IE9 Compat Modes */
    src: local('Inter'), local('Inter-Normal'),
         url('//lib.baomitu.com/fonts/inter/inter-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/inter/inter-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-800.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/inter/inter-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/inter/inter-800.svg#Inter') format('svg'); /* Legacy iOS */
  }
    